.subtitle {
  color: white;
  -webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.parallax-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.parallax {
  height: 100vh;
  background-image: url("../../../assets/paisaje-nocturno.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  margin: 0 0 25px;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 300;
  color: white;
}

h1 {
  margin: 0 0 30px;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.container {
  color: black;
  margin-top: 20px;
}

#about {
  height: 86vh;
}

#image-profile {
  clip-path: circle(50% at 50% 50%);
  height: 30vh;
  width: 30vh;
  margin: 0 auto;
  background-image: url("../../../assets/me.jpg");
  background-size: cover;
  background-position: center;
}

.definition {
  color: black;
  font-size: 16px;
  max-width: 650px;
  margin: 30px auto;
}

#experience {
  height: 80vh;
  background-color: rgb(252, 239, 228);
}

.info {
  color: black;
}

.tecnologies {
  background-color: rgb(248, 224, 204);
  height: 270px;
  border-radius: 5px;
  margin: 20px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  max-width: 100%;
  flex-direction: row;
  justify-items: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  position: relative;
  font-size: 3em;
}

button {
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
  width: 50%;
  font-size: 12px;
  font-weight: 400;
  background-color: rgb(238, 184, 141);
  border-radius: 20px;
  padding: 8px 14px;
  margin: 15px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 3px 20px rgb(226, 106, 8);
}

p {
  color: black;
}

#work {
  margin-bottom: 100px;
}

#contact {
  height: 60vh;
  background-color: rgb(252, 239, 228);
}

.icon-large {
  width: 60px;
  height: 60px;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  max-width: 400px;
  height: 300px;
  perspective: 1000px;
  margin: 20px auto;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative; /* Añadido para posicionar el tooltip */
}

@media (min-width: 850px) {
  * p {
    font-weight: 450;
  }

  #work {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  button {
    width: 15%;
    margin-top: 30px;
  }

  .modal-button {
    width: 150px;
    text-align: center;
  }

  .modal-button-close {
    width: 100px;
  }
}
